:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.strMsg {
  width: 15cm;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.strMsg p {
  font-size: 16px;
  margin-bottom: 5px;
}

.strMsg div {
  display: flex;
  justify-content: space-between;
}

.strMsg div div {
  font-size: 14px;
  color: #777;
}

.strMsg div div:first-child {
  margin-right: 10px;
}

.strMsg:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.App {
  width: 15cm;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}


.App button {
  width: 30%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.App button {
  background-color: #fff;
  cursor: pointer;
}

.App button:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}