
.msgBox {
    display:flex;
    flex-direction: column;
    background-color: #f4f4f4;
    width: 400px;
    height: 128px;
    margin: 0 auto;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 7px 6px 0px rgb(234, 118, 139);
    margin-bottom: 30px;
  }
  
  .msgBox button {
    width: 50%;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #d6a5b8;
    border-radius: 50px;
    margin-top: 10px;
    color: #fff;
    font-weight: 600;
  }
  
  .msgBox button {
    background-color: #f87d91;
    cursor: pointer;
  }
  
  .msgBox button:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  }
  .input {
    width: 95%;
    padding: 8px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
  }
  
  .questionText{
    margin-top: 3px;
    margin-bottom: 6px;
    font-weight: 600;
  }
  
  .charRemain{
    margin-top: 1px;
    text-align: right;
    font-size: 12px;
  
  }

  .msgBox-container{
    display:flex;
    justify-content: space-between;
    margin-top: 4px;
  }

  .msgBox-p-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 2px;
  }

  .likedCount{
    font-size: 12px;
    margin: 8px 0 0 0;
    font-weight: 600;
  }