
.strMsg {
    width: 400px;
    height: 120px;
    margin: 0 auto;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 7px 6px 0px rgb(119, 163, 235);
    margin-bottom: 30px;
    background-color: rgb(234, 250, 255);
  }
  
  .strMsg p {
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 600;

  }
  
  .strMsg div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .strMsg div div {
    font-size: 14px;
    color: #777;
    margin: 0;
  }
  
  .strMsg div div:first-child {
    margin-right: 10px;
  }
  
  .strMsg:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }


.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px; /* Adjust height as needed */
  background-color: #fafafa;
}

@media screen and (max-width: 576px) {

  .strMsg {
    width: 320px;
    margin-bottom: 20px;
    padding: 10px;
  }

  .strMsg p {
    font-size: 14px;
  }
}
